<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Starter Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body class="text-center">
   
    <div class="d-flex w-100 h-100 mx-auto flex-column">
    <header class="masthead mb-auto">
    <div class="inner">
      <h3 onclick="window.location.href='/homepage'" data-desc="go homepage" class="masthead-brand"><%= title%></h3>
      <nav class="nav nav-masthead justify-content-center">
      <a href="/bookmark" class="nav-link active">Bookmarks</a>
      <a href="/favouriteDriver" class="nav-link active">Favourite drivers</a>
      <a class="nav-link active dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My profile</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/insert">My details</a>
            <a class="dropdown-item" href="">History</a>
            <a class="dropdown-item" id="logout" href="/logout">Logout</a>
          </div>
    </header>

    <main role="main">
      <h2 class="mt-2">Driver dashboard</h2>
      <h3 class="pt-5">Your rides</h3>
      <a href='addRide' class="btn btn-outline-light">Post a new ride!</a>
      <div class="ridescontainer">
      <%
      //this is the function to get the date in a presentable form
      function displaydate(date) {
        var month = date.getUTCMonth() + 1; //months from 1-12
        var day = date.getUTCDate();
        var year = date.getUTCFullYear();
        newdate = year + "/" + month + "/" + day;
        return newdate;
      }
      %>
        <% for(var i=0; i<data.length; i++) { %>
            <div class="card" style="width: 15rem;">
                <div class="card-body bg-dark">
                  <form action="individualRideDriver" method="get">
                  <h5 class="card-title" name="location"><%= data[i].pickup%> TO <%= data[i].dropoff%></h5>
                  <input type="hidden"  name="pickup" value="<%= data[i].pickup%>">
                  <input type="hidden"  name="dropoff" value="<%= data[i].dropoff%>">
                  <p class="card-text" name="time">Start time: <%= data[i].start_time%></p>
                  <input type="hidden"  name="timeValue" value="<%= data[i].start_time%>">
                  <p class="card-text" name="date">Date: <%= displaydate(data[i].ride_date)%></p>
                  <input type="hidden"  name="dateValue" value="<%= data[i].ride_date%>">
                  <p class="card-text" name ="capacity">Capacity: <%= data[i].capacity%></p>
                  <button class="btn btn-outline-success" type="submit">check ride</button> 
                </form>
                </div>
            </div>   
        <% } %>
    </div>
    </main>

    </div>
  </body>
</html>